[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
pharos_testnet = "https://testnet.dplabs-internal.com"

[etherscan]
pharos_testnet = { key = "", url = "https://testnet.pharosscan.xyz/api" }
